/* style.css */

body {
    background-color: #20232c;
    font-family: "Roboto Mono", monospace;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
}

footer {
    padding: 1em 0;
    padding-left: 20px;
    background-color: #1d1f25;
}

button {
    display: inline-block;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    font-size: 15px;
    background-color: #20232c;
    color: #51ae9e;
    border: solid #1d1f25;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 5px 5px 5px 5px #1d1f25;
}

button:hover {
    background-color: #51ae9e;
    color: #1d1f25;
}

h1 {
    font-size: 50px;
}

h2 {
    padding-left: 10px;
}

p {
    font-size: 20px;
    max-width: 650px;
    color: rgb(200, 200, 200);
}

li {
    font-size: 20px;
    padding-top: 20px;
}

hr {
    border-style: solid;
    border-color: #1d1f25;
}

#social-media {
    word-spacing: 20px;
    text-align: center;
    margin: 50px 250px 0px 0px;
}

#welcome {
    padding-top: 2%;
}


#welcome, #about, #skills, #projects, #data-container {
    width: 650px;
    flex: 1;
    margin: 0 1em;
}

.div-bordered {
    border-color: #1d1f25;
    border-style: solid;
    box-shadow: 5px 5px 5px 5px #1d1f25;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px 0px 0px 100px;
}

#buttons {
    padding-top: 10px;
    margin-left: 15%;
    word-spacing: 20px;
}

#img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #1d1f25;
}

mark.cyan {
    color: #51ae9e;
    background: none;
}


@media screen and (max-width: 600px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

    main {
        padding: 0em;
    }

    footer {
        width: 200%;
        padding-left: 25%;
    }

    button {
        display: inline-block;
        width: 250px;
        height: 120px;
        font-size: 30px;
    }

    .container {
        display: flex;
        text-align: center;
        margin: 0% 0% 0% 1%;
    }

    #welcome {
        text-align: center;
        margin: 0% 0% 0% 35%;
    }

    #about, #skills, #projects {
        width: 700px;
        margin: 20px 20px 40px 10px;
        text-align: center;
    }

    #img {
        width: 350px;
        height: 350px;
    }

    #email {
        font-size: 30px;
    }

    #buttons {
        display: inline-block;
        margin: 0% 0% 5% 0%;
        word-spacing: 20px;
    }
}