/* style.css */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #161925;
    font-family: "Roboto Mono", monospace;
    color: white;
    margin: 0;
    padding: 0;
}

footer {
    padding: 1em 0;
    padding-left: 20px;
    background-color: #161925;
}

#footer-copy {
    color: white;
}

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    margin: 41% 0% 0% 95%;
}

.gotop {
    width: 64px;
    height: 64px;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
    max-width: 850px;
    color: rgb(200, 200, 200);
}

hr {
    border-style: solid;
    border-color: white;
    width: 80%;
}

#site-logo {
    width: 50px;
    height: 50px;
    margin-right: 51%;
}

.top-container {
    height: 50px;
    text-align: end;
    margin: 2% 15% 0% 0%;
    word-spacing: 20px;
}

.topbuttons {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.topbuttons:hover {
    text-decoration: underline;
    color: #06BEE1;
}

#dark-mode-button {
    width: 32px;
    height: auto;
    cursor: pointer;
    background: none;
}

.dark-mode {
    background-color: #F8F1FF;
    color: #161925;
    .topbuttons {
        color: #161925;
    }
    p {
        color: #161925;
    }
    hr {
        border-color: #161925;
    }
    #copy-email {
        color: #161925;
    }
    #dark-mode-button {
        background: none;
        filter: brightness(0%) contrast(50%);
    }
    .card-text {
        color: rgb(200, 200, 200);
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 4% 0% 6% 0%;
}

.text-container {
    margin: 5% 0% 0% 20%;
}

.image-container {
    max-width: 70%;
    max-height: auto;
    margin-left: 5%;
}

#email {
    width: 400px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    text-indent: 10px;
    border: #06BEE1 solid;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
}

#email:hover {
    background-color: #06BEE1;
    mark {
        color: white;
        font-weight: normal;
    }
}

#copy-email {
    color: white;
    display: table-cell;
    padding-left: 20px;
    font-size: 20px;
    cursor: default;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 0.1s ease-out;
}

.fade-out.hide {
    opacity: 0;
}

.social-media-container {
    margin: 5% 0% 0% 25%;
}

.social-media {
    filter: invert(52%) sepia(89%) saturate(6023%) hue-rotate(164deg) brightness(101%) contrast(101%);
    margin: 0% 0% 0% 2%;
}

#about-container {
    background-color: #0598b4;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin: 0;
}

.about-image {
    width: 90%;
    height: auto;
    margin: 10% 0% 10% 20%;
}

#profile-picture {
    width: 600px;
    height: 600px;
    border-radius: 360%;
    border: 10px #161925 solid;
}

.about-text-container {
    margin-top: 5%;
}

.about-text {
    color: white;
    font-size: 25px;
    margin: 5% 20% 0% 0%;
}

#skills-container {
    margin: 3% 0% 6% 10%;
}

.skills-icons {
    text-align: center;
    margin: 5% 10% 5% 0%;
}

.skills {
    width: 128px;
    height: 128px;
    margin: 2% 0% 0% 2%;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #161925;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#projects-container {
    background-color: #0598b4;
    width: 100%;
    height: auto;
    padding-bottom: 1px;
    padding-top: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 5% 0% 10% 25%;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1000px;
}

.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(220, 220, 300);
}

.card-data {
    background-color: #161925;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.card-repo {
    color: #06BEE1;
    text-decoration: none;
    font-size: 25px;
    margin-left: 70%;
}

.card-repo:hover {
    text-decoration: underline;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

mark.cyan {
    color: #06BEE1;
    background: none;
    font-weight: bold;
}

mark.black {
    color: #161925 ;
    background: none;
    font-weight: bold;
}



@media screen and (max-width: 600px) {

    body {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
        padding-left: 0;
    }

    p {
        font-size: 25px;
        max-width: 100%;
    }

    main {
        padding: 0;
    }

    footer {
        width: 200%;
        padding-left: 10%;
    }

    button {
        display: block;
        width: 250px;
        height: 120px;
        font-size: 30px;
        margin: 0% 0% 0% 10%;
    }

    .container {
        display: flex;
        margin: 0;
    }

}